docker-compose.yml

!/vhosts
/vhosts/*


!/vhosts/ngnix
/vhosts/nginx/*
!/vhosts/nginx/default.conf

!/vhosts/zendserver
/vhosts/zendserver/*
!/vhosts/zendserver/vhost_http_default_80.conf


!/www
/www/*
!/www/html
/www/html/*
!/www/html/public
/www/html/public/*
!/www/html/public/index.php
